<%- include('partials/header') %>
    <%- include('partials/nav') %>

    <main class="container">
        <div id="account">
            <div class="avatar">
                <img src="" alt="">
            </div>
            <%- user.name %>
            <%- user.gender %>
            <%- user.location %>

            <% if (user.client_id === userID) { %>
                <div id="form">
                    <form action="">
                        <label for="">Full Name</label>
                        <input type="text" name="fullname" id="" value="">
                        <label for="">Email Address</label>
                        <input type="email" name="email" id="" value="">
                        <label for="">Phone number</label>
                        <input type="text" name="phonenumber" value="">
                        <label for="">Gender</label>
                        <select name="" id="">
                            <option>-- Choose Gender --</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <label for="">Location</label>
                        <input type="text" name="location" id="" value="">
                        <label for="">Profile Picture</label>
                        <input type="file" name="picture" id="">
                        <label for="">Password</label>
                        <input type="password" name="password" id="">
                        <div>
                            <button class="btn" id="btn-cancel">Cancel</button>
                            <input class="btn" type="submit" value="update">
                        </div> 
                    </form>
                </div>

            <% } %>    
        </div>
    </main>


<%- include('partials/footer') %>