<%- include('partials/header') %>
    <%- include('partials/nav') %>

    <main class="container">
        

        <div id="form">

            <h1>Appointment Form</h1>
            <form action="/dashboard/<%= user.client_id %>" id="appointmentForm" method="post">
                <label for="">Pet Name</label>
                <input type="text" id="" value="<%= user.pet_name %>" required>
        
                <label for="">Appointment Date</label>
                <input type="date" id="" value="<%= user.appointment_date %>">
        
                <label for="">Appoinrment Time</label>
                <input type="time" id="" value="<%= user.appointment_time %>">
    
                <label for="">Reason for visit</label>
                <textarea name="reason" id="reason_for_visit" cols="30" rows="10"></textarea>
        
                <button type="submit">Schedule Appointment</button>
            </form>
        
            <div id="appointmentList">
        
            </div>
        </div>

    </main>

    <script>
        let appointmentForm = document.querySelector('#appointmentForm')
        let appointmentList = document.querySelector('#appointmentList')

        appointmentForm.addEventListener('submit', (e) => {

            const petName = document.querySelector('#petName').value
            const ownerName = document.querySelector('#ownerName').value
            const appointmentDate = document.querySelector('#appointnmentDate').value
            const appointmentTime = document.querySelector('#appintmentTime').value

            const appointment = {
                petName,
                ownerName,
                appointmentDate,
                appointmentTime
            }

            displayAppointment(appointment)
            clearForm()
        })

        function displayAppointment(appointment) {
            const appointmentItem = document.createElement('div')
            appointmentItem.classList.add('appoinrment-item')

            appointmentItem.innerHTML = `
                <h3>${appointment.petName}</h3>
                <p><strong></strong>${appointment.ownerName}</p>
                <p><strong></strong>${appointment.appointmentDate}</p>
                <p><strong></strong>${appointment.appointmentTime}</p>
            `  
            appointmentList.appendChild(appointmentItem)
        }

        function clearForm() {
            document.querySelector('#petName')
            document.querySelector('#ownerName')
            document.querySelector('#appointmentDate')
            document.querySelector('#appointmentTime')
        }

        
    </script>
    

<%- include('partials/footer') %>