<%- include('partials/header') %>

<main class="access-point">

    <form action="/signup" method="post">

        <h2>Set up account</h2>

        <label for="">Full name</label>
        <input type="text" name="fullname" id="" value="<%= user.clientname %>" required>
        <label for="">Email</label>
        <input type="email" name="email" id="" value="<%= user.email %>" required>
        <label for="">Password</label>
        <input type="password" name="password" id="" value="<%= user.password %>" required minlength="8">
        <label for="">Confirm Password</label>
        <input type="password" name="confirmPassword" id="" value="<%= user.confirmPassword %>" required minlength="8">
        <input type="submit" value="Signup">
        <p>Have an account already? <a href="/login">Log In</a></p>
    </form>
</main>

<%- include('partials/footer') %>